<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<main style="margin-top: 150px; margin-bottom: 50px; " class="container">
	<div class="card-header text-center text-danger my-4">
		<h3 style="font-weight: bold;">CHỈNH SỬA THÔNG TIN</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card border-0 shadow rounded-3">
					<div class="card-body p-4 p-sm-5">
						<form th:action="@{/chinhsuaTT}" action="" method="post" th:object="${user}">
							<input type="hidden" th:field="*{tentaikhoan}" class="form-control" id="taikhoan"
								placeholder="Họ và tên">

							<div class="form-floating mb-3">
								<input name="ten" th:field="*{ten}" type="text" class="form-control" id="ten"
									placeholder="Họ và tên">
								<label for="ten">Họ và tên</label>
							</div>
							<div class="form-floating mb-3">
								<input name="sdt" th:field="*{sdt}" type="text" class="form-control" id="sdt"
									placeholder="Số điện thoại">
								<label for="sdt">Số điện thoại</label>
							</div>

							<div class="form-floating mb-3">
								<input name="email" th:field="*{email}" type="text" class="form-control" id="email"
									placeholder="Email">
								<label for="email">Email</label>
							</div>
							<div class="form-floating mb-3">
								<input th:field="*{diachi}" type="text" name="diachi" id="diachi" class="form-control"
									required>
								<label for="hinhanh">Địa chỉ</label>
							</div>
							<div class="form-floating mb-3">
								<input th:field="*{hinhanh}" type="file" name="hinhanh" id="hinhanh"
									class="form-control" aria-label="file example" required>
								<label for="hinhanh">Hình Ảnh</label>
							</div>

							<hr class="my-4">
							<div class="d-grid">
								<button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Cập
									Nhật</button>
							</div>
						</form>
						<div class="text-center mt-3"><a class="" href="/taikhoan/doimatkhau" style="font-size: 15px;">
								Quay về trang chủ</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>


</main>

</html>
<style>
	.btn-login {
		font-size: 0.9rem;
		letter-spacing: 0.05rem;
		padding: 0.75rem 1rem;
	}

	.btn-google {
		color: white !important;
		background-color: #ea4335;
	}

	.btn-facebook {
		color: white !important;
		background-color: #3b5998;
	}
</style>