<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main style="margin-top: 150px; margin-bottom: 50px;" class="container">
		<div th:if="${session.errorMessage}" class="container">
			<div class="alert alert-danger my-2 text-center" role="alert">
				<span th:text="${session.errorMessage}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('errorMessage')}"></th:block>
		</div>

		<div th:if="${session.successMessage}" class="container">
			<div class="alert alert-success my-2 text-center" role="alert">
				<span th:text="${session.successMessage}"></span>
			</div>
			<th:block th:text="${#session.removeAttribute('successMessage')}"></th:block>
		</div>
		<div th:object="${item}">
			<div class="container image-container">
				<img th:src="@{|/assets/images/*{hinhanh2}|}" style="width: 100%; height: 250px; object-fit: cover;"
					alt="">
				<div class="text-overlay">
					<h1 class="display-5">Dịch Vụ TAMA STUDIO</h1>
					<p class="lead">Chúng tôi hoàn toàn có thể đặt niềm tin, nơi cho bạn những góc nhìn khác về vẻ đẹp
						của bạn.</p>
				</div>
			</div>

			<!-- Features Section -->
			<div class="container features py-5">
				<div class="row">
					<div class="col-lg-4">
						<h3>Thông Tin Chi Tiết</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 mt-2">
						<h5>Giá Gói</h5>
					</div>
					<div class="col-lg-4 mt-2">
						<h5>[[${#numbers.formatDecimal(item.gia, 0, 'COMMA', 0, 'POINT')}]] Đ</h5>
					</div>
					<hr>
				</div>
				<div class="row">
					<div class="col-lg-4 mt-2">
						<h5>[[*{ten}]]</h5>
					</div>
					<div class="col-lg-4 mt-2">
						<div style="width: 330px;">
							<h6>[[*{noidung}]]</6>
						</div>
					</div>
					<hr>
				</div>
				<div class="row">
					<div class="col-lg-4 mt-2">
						<h5>Lưu ý</h5>
					</div>
					<div class="col-lg-4 mt-2">
						<div class="demo-wrap black-bg">
							<button class="btn btn-style3" data-bs-toggle="modal" data-bs-target="#exampleModal"
								th:id="${#request.remoteUser != null} ? '' : ''">
								<span></span><span></span><span></span><span></span>
								<i class="bi bi-cart4"></i>Đặt Lịch Thuê
							</button>
							<!-- Modal -->

							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
								aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="exampleModalLabel">Thuê Dịch Vụ</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal"
												aria-label="Close"></button>
										</div>

										<div class="modal-body">
											<form action="/dichvu/daylich/{id}" method="post">
												<div th:object="${user}" class="row">
													<div class="form-group col-md-6">
														<label>Tên Khách Hàng</label>
														<input th:field="*{ten}" class="form-control" readonly />
													</div>
													<div class="form-group  col-md-6">
														<label>Số Điện Thoại</label>
														<input th:field="*{sdt}" class="form-control" type="text"
															readonly />
													</div>
												</div>

												<div th:object="${item}" class="row">
													<div id="serviceId" data-service-id="${item.id}"></div>
													<div class="form-group col-md-6">
														<label>Tên Dịch Vụ</label>
														<input th:field="*{ten}" class="form-control" readonly />
													</div>
													<div class="form-group  col-md-6">
														<label>Giá Dịch Vụ</label>
														<input th:field="*{gia}" class="form-control" type="text"
															readonly />
													</div>
												</div>

												<div class="row">
													<div class="form-group col-md-6">
														<label>Ngày Thuê</label>
														<input id="ngaythue" class="form-control" name="ngaythue"
															type="date" />
													</div>
													<div class="form-group col-md-6">
														<label>Giờ Thuê</label>
														<select id="thoigian" name="thoigian" class="form-select"
															aria-label="Default select example"
															onchange="kiemTraThoiGian()">
															<option value="null"></option>
															<option value="07:00:00">07:00</option>
															<option value="08:00:00">08:00</option>
															<option value="09:00:00">09:00</option>
															<option value="10:00:00">10:00</option>
															<option value="11:00:00">11:00</option>
															<option value="12:00:00">12:00</option>
															<option value="13:00:00">13:00</option>
															<option value="14:00:00">14:00</option>
															<option value="15:00:00">15:00</option>
															<option value="16:00:00">16:00</option>
															<option value="17:00:00">17:00</option>
															<option value="18:00:00">18:00</option>
															<option value="19:00:00">19:00</option>
															<option value="20:00:00">20:00</option>
														</select>
													</div>
													<div class="form-group row-8">
														<label>Cách Nhận</label><br>
														<form>
															<input type="radio" name="cachnhan" id="taiStudioRadio"
																value="0" checked onchange="toggleAddressInput()">
															Tại Studio

															<input type="radio" name="cachnhan" id="taiNhaRadio"
																value="1" onchange="toggleAddressInput()">
															Tại Nhà
														</form>
													</div>
													<div class="form-group row-8" id="diachi" style="display: none;">
														<label>Địa Chỉ</label>
														<input name="diachi" class="form-control" />
													</div>

													<div class="form-group row-8">
														<label>Ghi Chú</label>
														<textarea name="ghichu" class="form-control"></textarea>
													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Đóng</button>
														<button type="submit" class="btn btn-primary"
															th:formaction="@{|/dichvu/datlich/${id}|}"
															onclick="showAlert()">Thuê</button>
													</div>

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div th:if="${session.message}" class="container">
							<div class="alert alert-danger my-2 text-center" role="alert">
								<span th:text="${session.message}"></span>
							</div>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 mt-2">
						<h5>Video Tham Khảo</h5>
					</div>
					<div>
						<iframe width="100%" height="550" th:src="@{|https://www.youtube.com/embed/*{href}|}"></iframe>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function toggleAddressInput() {
				var addressInput = document.getElementById("diachi");
				var atHomeRadio = document.getElementById("taiNhaRadio");

				if (atHomeRadio.checked) {
					addressInput.style.display = "block";
				} else {
					addressInput.style.display = "none";
				}
			}

			function kiemTraThoiGian() {
				var selectedDate = document.getElementById("ngaythue").value;
				var selectedTime = document.getElementById("thoigian").value;

				$.get("/dichvu/kiểmtrathoigian/" + selectedDate + "/" + selectedTime, function (data) {
					if (data === "false") {
						alert("Thời gian đặt đã đầy, vui lòng chọn thời gian khác.");
						document.getElementById("thoigian").value = "";
					}
				});
			}
		</script>


	</main>
</body>

</html>